{% extends "base.html" %}
{%  block content %}

<h1>取引履歴</h1>
<table>
    <tr>
        <td>日付</td>
        <td>金額</td>
        <td>カテゴリ</td>
        <td>支払方法</td>
        <td>支払場所</td>
        <td>備考</td>
    </tr>
    {% for transaction in transactions_list %} 
    <tr> <!--汎用ビューによるtransactionlistクラス内でtransaction_listが作られる-->
        <td>{{ transaction.date}}</td>
        <td>{{ transaction.amount}}</td>
        <td>{{ transaction.category}}</td>
        <td>{{ transaction.types}}</td>
        <td>
            {% if transaction.expense %}
                {{ transaction.expense }}
            {% endif %}
        </td>       
        <td>{{ transaction.note}}</td>
    </tr>
    {% endfor %}
<li><a href="/budgetlist/Transactions_Categorylist/">カテゴリ別一覧</a></li>   
<li><a href="/budgetlist/Transactions_Expenselist/">支払場所別一覧</a></li>
   
{% endblock %}