{% extends "base.html" %}
{%  block content %}

<h1>カテゴリ別取引記録</h1>
<h4>カテゴリ検索</h4>
<form action='{% url 'budgetlist:transactions_list_category' %}' method='POST'>
    {% csrf_token %}
    カテゴリID:
    <input type="text" name="category_id" /><br/><br/>
    <input type="submit" value="検索" />
</form>


<table>
    <tr>
        <td>日付</td>
        <td>金額</td>
        <td>カテゴリ</td>
        <td>支払方法</td>
        <td>備考</td>
    </tr>
    {% for transaction in transactions_list %} 
    <tr> <!--汎用ビューによるtransactionlistクラス内でtransaction_listが作られる-->
        <td>{{ transaction.date}}</td>
        <td>{{ transaction.amount}}</td>
        <td>{{ transaction.category}}</td>
        <td>{{ transaction.types}}</td>
        <td>{{ transaction.note}}</td>
    </tr>
    {% endfor %}
    <a href="/budgetlist/Transactionslist/">一覧に戻る</a>

{% endblock %}
