{% extends "base.html" %}
{%  block content %}

<h1>支払場所別一覧</h1>
<h2>支払場所検索</h2>
<form action="{% url 'budgetlist:transactions_expenselist' %}" method='POST'> 
    {% csrf_token %}
    {% for field in form %}
    <div>
        {# --- ラベル、入力フィールド --- #}
        {{ field }}
        {# --- 入力フィールドごとのエラーメッセージ（最初のエラーのみを表示） --- #}
        {% if field.errors %}
        <p class="error">{{ field.errors.0 }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">検索</button><br>


<table>
    <tr>
        <td>日付</td>
        <td>金額</td>
        <td>カテゴリ</td>
        <td>支払方法</td>
        <td>支払場面</td>
        <td>備考</td>
    </tr>
    {% for transaction in transactions_list %} 
    <tr> <!--汎用ビューによるtransactionlistクラス内でtransaction_listが作られる-->
        <td>{{ transaction.date}}</td>
        <td>{{ transaction.amount}}</td>
        <td>{{ transaction.category}}</td>
        <td>{{ transaction.types}}</td>
        <td>
            {% if transaction.expense %}
                {{ transaction.expense }}
            {% endif %}
        </td>       
        <td>{{ transaction.note}}</td>
    </tr>
    {% endfor %}

    <a href="/budgetlist/Transactionslist/">一覧に戻る</a>

{% endblock %}
